@use 'sass:map';
@use 'sass:color';

/*=============================================
=     Grid     =
=============================================*/
$grid: (
    'sm': 640px,
    'md': 768px,
    'lg': 1024px,
    'xl': 1280px,
    '2xl': 1600px,
);
/*=====  End of Grid  ======*/

/*=============================================
=            colors            =
=============================================*/

$color-accents: (
    1: #3ac590,
);

$colors: (
    // standard
    'black': #000,
    'white': #fff,
    'grey-5': darken(#fff, 5%),
    'grey-10': darken(#fff, 10%),
    'grey-20': darken(#fff, 20%),
    'grey-30': darken(#fff, 30%),
    'grey-40': darken(#fff, 40%),
    'grey-50': darken(#fff, 50%),
    'grey-60': darken(#fff, 60%),
    'grey-70': darken(#fff, 70%),
    'grey-80': darken(#fff, 80%),
    'grey-90': darken(#fff, 90%),
    'grey-95': darken(#fff, 95%),
    // accent
    'acc-1': map.get($color-accents, 1),
    'acc-1-50': lighten(map.get($color-accents, 1), 45%),
    'acc-1-100': lighten(map.get($color-accents, 1), 40%),
    'acc-1-200': lighten(map.get($color-accents, 1), 30%),
    'acc-1-300': lighten(map.get($color-accents, 1), 20%),
    'acc-1-400': lighten(map.get($color-accents, 1), 10%),
    'acc-1-500': map.get($color-accents, 1),
    'acc-1-600': darken(map.get($color-accents, 1), 10%),
    'acc-1-700': darken(map.get($color-accents, 1), 20%),
    'acc-1-800': darken(map.get($color-accents, 1), 30%),
    'acc-1-900': darken(map.get($color-accents, 1), 40%),
    // base text
    'text-1': #333333,
    'text-1-inv': #fff,
    'text-link-1': color.mix(map.get($color-accents, 1), #000, 80%),
    'text-link-1-inv': color.mix(map.get($color-accents, 1), #fff, 20%),
    // success state
    'text-success': #0f742a
);

/*=====  End of colors  ======*/

/*=============================================
=            Spacing            =
=============================================*/
$spacing: (
    0: 0px,
    1px: 1px,
);
$spacing-counter: 1;
@while $spacing-counter < 100 {
    $setValue: 0.25 * $spacing-counter;
    $spacing: map.set($spacing, #{$spacing-counter}, #{$setValue}rem);
    $spacing-counter: $spacing-counter + 1;
}
/*=====  End of Spacing  ======*/

/*=============================================
=            Font family          =
=============================================*/
$font-family: (
    primary: unquote("'Work Sans', sans-serif"),
);

/*=====  End of Font family  ======*/

/*=============================================
=            Font size            =
=============================================*/
$font-size: (
    'xs': 0.75rem,
    'sm': 0.9rem,
    'base': 1rem,
    'lg': 1.125rem,
    'xl': 1.25rem,
    '2xl': 1.5rem,
    '3xl': 1.75rem,
    '4xl': 2rem,
    '5xl': 2.5rem,
    '6xl': 3rem,
    '7xl': 4rem,
    '8xl': 5rem,
);

/*=====  End of Font size  ======*/

/*=============================================
=            Line height            =
=============================================*/
$line-height: (
    'none': 1em,
    'xs': 1.25em,
    'sm': 1.375em,
    'md': 1.5em,
    'xl': 1.625em,
    '2xl': 1.8em,
    '3xl': 2em,
    '4xl': 2.25em,
);
/*=====  End of Line height  ======*/
