@use 'sass:map';
@use 'sass:color';

/*=============================================
=     Grid     =
=============================================*/
$grid: (
    'xs': 1px,
    'sm': 640px,
    'md': 768px,
    'lg': 1024px,
    'xl': 1280px,
    '2xl': 1600px,
);
/*=====  End of Grid  ======*/

/*=============================================
=            colors            =
=============================================*/

$color-primary: (
    1: #3ac590,
    2: #c6396f,
);

$colors: (
    // standard
    'c-black': #000,
    'c-white': #fff,
    'c-grey-5': darken(#fff, 5%),
    'grey-10': darken(#fff, 10%),
    'grey-20': darken(#fff, 20%),
    'grey-30': darken(#fff, 30%),
    'grey-40': darken(#fff, 40%),
    'grey-50': darken(#fff, 50%),
    'grey-60': darken(#fff, 60%),
    'grey-70': darken(#fff, 70%),
    'grey-80': darken(#fff, 80%),
    'grey-90': darken(#fff, 90%),
    'grey-95': darken(#fff, 95%),
    // primary 1:
    'primary-1': map.get($color-primary, 1),
    'primary-1-50': lighten(map.get($color-primary, 1), 45%),
    'primary-1-100': lighten(map.get($color-primary, 1), 40%),
    'primary-1-200': lighten(map.get($color-primary, 1), 30%),
    'primary-1-300': lighten(map.get($color-primary, 1), 20%),
    'primary-1-400': lighten(map.get($color-primary, 1), 10%),
    'primary-1-500': map.get($color-primary, 1),
    'primary-1-600': darken(map.get($color-primary, 1), 10%),
    'primary-1-700': darken(map.get($color-primary, 1), 20%),
    'primary-1-800': darken(map.get($color-primary, 1), 30%),
    'primary-1-900': darken(map.get($color-primary, 1), 40%),
    // primary 2:
    'primary-2': map.get($color-primary, 2),
    'primary-2-50': lighten(map.get($color-primary, 2), 45%),
    'primary-2-100': lighten(map.get($color-primary, 2), 40%),
    'primary-2-200': lighten(map.get($color-primary, 2), 30%),
    'primary-2-300': lighten(map.get($color-primary, 2), 20%),
    'primary-2-400': lighten(map.get($color-primary, 2), 10%),
    'primary-2-500': map.get($color-primary, 2),
    'primary-2-600': darken(map.get($color-primary, 2), 10%),
    'primary-2-700': darken(map.get($color-primary, 2), 20%),
    'primary-2-800': darken(map.get($color-primary, 2), 30%),
    'primary-2-900': darken(map.get($color-primary, 2), 40%),
    // background
    'bg-1': #fff,
    'bg-1-inv': darken(#fff, 95%),
    // base text
    'text-1': #333333,
    'text-1-inv': #f2f2f2,
    'text-link-1': darken(map.get($color-primary, 1), 20%),
    'text-link-1-inv': lighten(map.get($color-primary, 1), 30%),
    // success state
    'success-text': #0f742a,
    'success-accent': #0f742a
);

/*=====  End of colors  ======*/

/*=============================================
=            z-index            =
=============================================*/
$z-index: (
    auto: auto,
    0: 0,
    1: 1,
    2: 2,
    3: 3,
    4: 4,
    5: 5,
    6: 6,
    7: 7,
    8: 8,
    9: 9,
);

/*=====  End of z-index  ======*/

/*=============================================
=            Spacing            =
=============================================*/
$spacing: (
    0: 0px,
    1px: 1px,
);
$spacing-counter: 1;
@while $spacing-counter < 100 {
    $setValue: 0.25 * $spacing-counter;
    $spacing: map.set($spacing, #{$spacing-counter}, #{$setValue}rem);
    $spacing-counter: $spacing-counter + 1;
}
/*=====  End of Spacing  ======*/

/*=============================================
=            Font family          =
=============================================*/
$font-family: (
    primary: unquote("'Work Sans', sans-serif"),
);

/*=====  End of Font family  ======*/

/*=============================================
=            Font size            =
=============================================*/
$font-size: (
    'xs': 0.75rem,
    'sm': 0.9rem,
    'base': 1rem,
    'lg': 1.125rem,
    'xl': 1.25rem,
    '2xl': 1.5rem,
    '3xl': 1.75rem,
    '4xl': 2rem,
    '5xl': 2.5rem,
    '6xl': 3rem,
    '7xl': 4rem,
    '8xl': 5rem,
);

/*=====  End of Font size  ======*/

/*=============================================
=            Line height            =
=============================================*/
$line-height: (
    'none': 1,
    'xs': 1.25,
    'sm': 1.375,
    'md': 1.5,
    'xl': 1.625,
    '2xl': 1.8,
    '3xl': 2,
    '4xl': 2.25,
);
/*=====  End of Line height  ======*/
