/*=============================================
=            animations            =
=============================================*/

/**
  *
  * Slide in from top to bottom
  *
  */
@keyframes g-anim-slide-in-top {
    0% {
        transform: translateY(-1000%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.g-anim-slide-in-top {
    animation-name: g-anim-slide-in-top;
    animation-duration: var(--animation-duration);
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-fill-mode: forwards;
}

/**
 *
 * Fade in 
 *
 */
@keyframes g-anim-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.g-anim-fade-in {
    animation-name: g-anim-fade-in;
    animation-duration: var(--animation-duration);
    animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    animation-fill-mode: forwards;
}

/*=====  End of animations  ======*/
