@import 'utility';
@import 'fonts';
@import 'typography';
@import 'icons';
@import 'animations';

:root {
    @each $key, $value in $colors {
        --c-#{$key}: #{$value};
    }
    @each $key, $value in $font-size {
        --font-size-#{$key}: #{$value};
    }
    @each $key, $value in $line-height {
        --line-height-#{$key}: #{$value};
    }
    @each $key, $value in $font-family {
        --font-family-#{$key}: #{$value};
    }
    @each $key, $value in $grid {
        --breakpoint-#{$key}: #{$value};

        @include media-breakpoint-up(#{$key}) {
            --breakpoint: #{$key};
        }
    }
    --animation-duration: 0.4s;
}

@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
        scroll-padding-top: 100px;
    }
}

@media (prefers-reduced-motion: reduce) {
    :root {
        --animation-duration: 0.001s;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    height: 100%;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    color: var(--c-text-1);
    font-family: map-get($font-family, primary);
    line-height: map-get($line-height, md);
    position: relative;
    background: var(--c-bg-1);
}

/*=============================================
=            pointer states            =
=============================================*/
a,
input,
textarea,
button,
label {
    cursor: pointer;

    &.disabled,
    &:disabled {
        cursor: not-allowed;
    }
}

/*=====  End of pointer states  ======*/

/*=============================================
=            links            =
=============================================*/
a {
    color: var(--c-text-link-1);
    text-decoration: none;

    &.g-link:not(.icon) {
        display: inline-flex;
        align-items: center;
        position: relative;
        overflow: hidden;
        transition: transform 1s ease-out;
        box-shadow: inset 0px -2px 0px 0px var(--c-text-link-1);
        padding-bottom: 1px;

        &::before {
            content: '';
            width: 100%;
            height: 2px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            background: var(--c-primary-2);
            transition: transform 0.6s ease-out;
            border-radius: 1px;
            transform: translateX(calc(-200%));
        }
        &:hover::before {
            transform: none;
        }
    }
    &.g-link .g-icon {
        margin-right: 5px;
    }
}

/*=====  End of links  ======*/

/*=============================================
=            images            =
=============================================*/
img {
    display: inline-block;
    max-width: 100%;
}

/*=====  End of images  ======*/
