.g-icon {
    display: inline-flex;
    width: 1em;
    height: 1em;
    background: var(--c-text-1);
    mask-repeat: no-repeat;
    mask-size: 100%;
    mask-position: center;
    background-color: var(--c-text-link-1);

    // github
    &.github {
        mask-image: url('~/assets/img/icon/icon-github.svg');
    }
    // codepen
    &.codepen {
        mask-image: url('~/assets/img/icon/icon-codepen.svg');
    }
    // live link - lightning bolt icon
    &.bolt {
        mask-image: url('~/assets/img/icon/icon-bolt.svg');
    }
    // maple leaf
    &.maple {
        mask-image: url('~/assets/img/icon/icon-leaf.svg');
    }
    // code
    &.code {
        mask-image: url('~/assets/img/icon/icon-code.svg');
    }
    &.accessible {
        mask-image: url('~/assets/img/icon/icon-accessible.svg');
    }
}
